<li class="bg-white container mx-auto mb-2 p-4 border rounded cursor-pointer">
  <div class="flex flex-col">
    <h2 class="font-semibold mb-1 hover:underline">
      <%= job_post.title %>
    </h2>

    <% if job_post.company.present? %>
      <p>
        <%= job_post.company.name %>
      </p>
    <% end %>

    <div class="mt-2">
      <% job_post.skills.each do |skill| %>
        <div class="inline-block border border-gray-500 mr-2 mb-2 rounded bg-gray-200 text-xs text-gray-900 p-1">
          <%= skill.name %>
        </div>
      <% end %>
    </div>

    <p class="flex text-xs mt-1 self-end">
      <%= image_tag('icons/time.svg', class: 'opacity-75 w-4 mr-2') %>
      <%= time_ago_in_words(job_post.publication_datetime) %>
    </p>
  </div>
</li>
