<!DOCTYPE html>
<html class="bg-gray-100">
  <head>
    <title>RemoteStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-gray-100">
    <%= render('shared/navbar') %>

    <div class="pt-12 pb-12 pl-2 pr-2">
      <%= yield %>
    </div>
  </body>
</html>
