<!DOCTYPE html>
<html class="bg-gray-100">
  <head>
    <title>RemoteStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157453500-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157453500-1', { 'anonymize_ip': true });
    </script>
  </head>

  <body class="bg-gray-100 flex flex-col min-h-screen">
    <%= render('shared/navbar') %>

    <main class="flex-1">
      <%= yield %>
    </main>

    <%= render('shared/footer') %>
  </body>
</html>
